<div class="list-container">
  <app-search (onSearch)="getJokeList($event)"></app-search>
  <mat-list role="list">
    <mat-list-item role="listitem" class="d-flex justify-content-center" *ngFor="let item of pageList; let i=index">
      <div (click)="goToJoke(item.id)">
        <p class="text-center joke-item">{{item.joke}}</p>
        <p class="text-center">***</p>
      </div>
    </mat-list-item>
  </mat-list>
  <app-pagination *ngIf="count && count>pageSize" [count]="count" [currentPage]="pageIndex+1"
    (onChangePage)="onPageChanged($event)">
  </app-pagination>
</div>